<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>英雄</title>
     <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="main">
        <h1>英雄</h1>

        {% if book %}

            <ul>
                {% for i in book.heroinfo_set.all %}
                <li>{{ i.name }} <a href="{% url 'demo2url:deletehero' i.id%}">删除</a></li>
                {% empty %}
                没有数据
                {% endfor %}
            </ul>
        {% else %}
            没有英雄
        {% endif %}

        <a href="{% url 'demo2url:addhero' book.id %}">添加英雄</a>
        <a href="/demo2/index/">主页</a>
        <a href="{% url 'demo2url:index' %}">返回主页</a>
        <a href="/demo2/list/">书籍列表</a>
        <a href="{% url 'demo2url:list' %}">返回书籍列表</a>
    </div>


</body>
</html>